$font =                          "Open Sans", sans-serif

$font-size-primary =             16px
$font-size-birthday =            24px
$font-size-timer =               72px
$font-size-button =              19px
$font-size-subscribe =           24px
$font-size-timeleft =            18px
$font-size-congratulate =        20px
$font-size-error =               14px

$color-white =                   #ffffff
$color-text =                    #49575f
$color-timer =                   #1ea900
$color-button =                  #4a850c
$color-button--lighten =         #6ea608
$color-error =                 #c10000
$color-focus =                   #247cdd
$color-good =                    #189618
$color-carousel-button =         #21aa03

$container-width =               1024px