.timer {
  font-size $font-size-timer
  margin 50px auto
  line-height 116px
  
  span {
    vertical-align middle
  }
  
  &__colon {
    font-size $font-size-birthday
  }
  
  &__time-unit {
    display inline-block
    background-color $color-white
    min-width 132px
    height 120px
    border 2px solid $color-timer
    border-radius 3px
    margin 0 10px
    padding 0 0px
  }
}